{% extends "base.html" %}

{% block title %}{{ title }} | Hong Kong Pool League {% endblock %}


{% load static %}
{% block branding %}
<style>
    #branding-normal {
        display:inline-block;
    }
    
    #branding-mobile {
        display:none;
    }

    .site-name {
        display:inline;
        margin: 2px 2px 20px;
        font-weight: 300;
        font-size: 24px;
        color: #f5dd5d;
    }    

    .title-image {
        width:24px
    }

    @media screen and (max-width: 700px) {
        #branding-normal {
            display:none;
        }

        #branding-mobile {
            display:inline;
        }
        .site-name {
            font-size:20px 
        }
        .title-image {
            width:20px
        }

        #main-content { 
            width: 95%;
        }
    }
</style>
<div id="branding-normal"> 
    <div class="site-name">Poke n Hope HK</div>        
    <div style="display:inline">
        <img src="{% static "fire8ball.png" %}" class="title-image"></img> 
    </div>  
    <div class="site-name" style="margin-left:5px">Pool League</div> 
</div>

<div id="branding-mobile">
    <div class="site-name">Poke n Hope</div>        
    <div style="display:inline">
        <img src="{% static "fire8ball.png" %}" class="title-image"></img> 
    </div>  
</div>
{% endblock %}

{% block nav-global %}
{% endblock %}
