{% extends "base.html" %}

{% block title %}{{ title }} | Hong Kong Pool League {% endblock %}


{% load static %}
{% block branding %}
<style>
    #site-name {
        display:inline;
        margin: 2px 2px 20px;
        font-weight: 300;
        font-size: 24px;
        color: #f5dd5d;
    }    

    #title-image {
        width:24px
    }

    @media screen and (max-width: 700px) {
        #site-name {
            font-size:20px 
        }
        #title-image {
            width:20px
        }
    }
</style>
<div> 
    <div id="site-name">Poke n Hope HK</div>        
    <div style="display:inline">
        <img src="{% static "fire8ball.png" %}" id="title-image"></img> 
    </div>  
    <div id="site-name" style="margin-left:5px">Pool League</div> 
</div>
{% endblock %}

{% block nav-global %}
{% endblock %}
