{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-3.1.1.js"></script>
<script>
    $(document).ready(function() {
        $("#stats").hover(
            function() {
                $("#statshover").slideDown(500);
            }, function() {
                $("#statshover").slideUp(500);
            }
        );

    });
</script>

<style type="text/css" media="screen, projection">
.section:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.nav {
    overflow: hidden;
    background: #006bb6;
    font-weight:lighter;
    border: none;
    padding: 0px 8px 0px 30px;
    font-size: 15px;
    color: #c4dce8;
    text-align: left;
}

div.nav a {
    float: left;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
    font-weight:lighter;
}

div.nav .dropdown {
    float: left;
    overflow: hidden;
    vertical-align: middle;
}

div.dropdown .dropbtn, .nodropbtn { 
    font-size: 15px;    
    font-weight: 300;
    color: #fff;
    line-height: normal;
    letter-spacing: 0px;
    display: table-cell;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    padding: 10px 10px;
    background-color: inherit;
    vertical-align: middle;
}

div.dropdown:hover .dropbtn:hover {
    background-color: #ddd;
    color: #002f50;
    font-weight: 300;
    cursor: pointer;
}

div.dropdown:hover .nodropbtn:hover {
    cursor: pointer;
    text-decoration: underline;
}

div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

div.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 16px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    text-align: left;
}

div.dropdown-content a:hover {
    background-color: #ddd;
}

div.dropdown:hover div.dropdown-content {
    display: block;
}

#main-container, #main-body { 
    width: 100%;
    min-width: 0;
    background-color: #EDEEF0;
}


#main-content { 
    width: 90%;
    max-width: 1366px;
    padding-top: 20px;
    margin:0 auto;
    display: block;
    min-width: 0;
}

*{font-family:'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', sans-serif;}

</style>

{% block extrahead %}{% endblock %}
</head>
{% load i18n %}

<body id="main-body" data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="main-container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header" style="background:#002F50;padding: 20px 40px">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% block usertools %}
        {% if user.is_active %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% trans '' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}

                <a href="{% url 'logout' %}?next={{ request.get_full_path }}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% else %}
        <div id="user-tools">
            <!--{% trans 'Welcome, player.' %}-->
            <a href="{% url 'login' %}?next={{ request.get_full_path }}">{%trans 'Log in'%}</a>
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}

    </div>        

    {% block navbar %}
    <div class="nav">
        <div class="dropdown">
        <a href="{% url 'home' %}" style="padding: 0px"><button class="nodropbtn">Home</button></a> 
        </div>
        <div class="dropdown">
        <a href="{% url 'listlive' %}" style="padding: 0px"><button class="nodropbtn">Live</button></a>
        </div>
        <div class="dropdown">
            <a href="{% url 'schedule' %}" style="padding: 0px"><button class="nodropbtn">Schedule</button></a> 
        </div>
        <div class="dropdown">
            <button class="dropbtn">Stats</button>
            <div class="dropdown-content">
                <a href="{% url 'weekly_summary' %}">Summary </a>
                <a href="{% url 'ranking_teams' %}">Team</a>
                <a href="{% url 'ranking_players' %}">Player</a>
                <a href="{% url 'player_hist' %}">Champaths</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Archive</button>
            <div class="dropdown-content">
                <a href="{% url 'listarchive' 'LeagueMatch' %}">League Match</a>
                <a href="{% url 'listarchive' 'Match' %}">Single Match</a>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- END Header -->

    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="main-content">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    <!--{% block footer %}<div id="footer"></div>{% endblock %}-->
</div>
<!-- END Container -->

</body>
</html>
