{% extends "base_site.html" %}

{% block title %} Drag {% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>

    function after_sorting_players() {
        var nb_players = 8;
        var nb_playing_players = 5;
        var players = $("#players li");
        players.removeClass("playing resting").addClass(function (index) {
            if (index < nb_playing_players) {
                return "playing";
            } else {
                return "resting";
            }
        });
    }

    function info() {
        var players = $("#players li");
        for (var i = 0; i < players.length; i++) {
            console.log(players[i].value);
        }
    }

    $(document).ready(function () {
        $("#players").sortable({
{#            change: function( event, ui ) {after_sorting_players()},#}
            stop: function( event, ui ) {after_sorting_players()},
{#            update: function( event, ui ) {console.log("update")},#}
        });
        $("#players").disableSelection();
        after_sorting_players();
    })
    </script>

    <style>
    #players li.playing {background: #74ce86
    }
    #players li.resting {background: #de8e8a
    }
    #players { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    #players li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; width: 200px}
    </style>
{% endblock %}

{% block content %}

<ul id="players">
    <li value="1">Item 1</li>
    <li value="2">Item 2</li>
    <li value="3">Item 3</li>
    <li value="4">Item 4</li>
    <li value="5">Item 5</li>
    <li value="6">Item 6</li>
    <li value="7">Item 7</li>
    <li value="8">Item 8</li>
</ul>
    
{% endblock %}

