{% extends "base_site.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<style>
    div.body {
        width:800px;
    }
</style>
<div class="body">
    Welcome to Poke n Hope's official website!
</div>
<br>
<div class="body">
    We have several sections now. In <a href="{% url 'listlive' %}">Live</a>, you will be able to see the real-time score during matches on Tuesday and Wednesday, if there is someone to take the charge of inputing scores. In <a href="{% url 'schedule' %}">Schedule</a>, you will see all the 14-week matches and you are able to click to see results for matches alread completed. In <a href="{% url 'stats' %}">Stats</a>, you will see the normal Player and Team ranking. And the last <a href="{% url 'recording1' %}">Archive</a> section allows to you see all matches recorded in the system.
</div>
<br>
<div class="body">
    We have to mention in particular on the Player Ranking page a new measure which is commonly used in sport competitions. We encourage you to go <a href="https://en.wikipedia.org/wiki/Elo_rating_system"> here</a> for some documentation. It is a ranking system that takes into account your opponent's level when calculating your ranking points. You will not be over-penalised (over-rewarded) if you play a strong (less skill) player.
</div>
<br>
<div class="body">
    The ranking points will not affect the final prize for this season. It only tells you relative level compared to others. If you think you are underrated in this ranking, what you can do? The most efficient way is putting your opponent in the pressure and having more run outs.
</div>
<br>
<div class="body">
    We have dedicated a lot of time on launching this website. We would be happy to see it really brings something to you and your team. We are trying our best to adding more features as time goes on. And any suggestions or bugs reporting are more than welcome.
</div>
<br>
<div class="body">
   Let's together make a great pool community! You can contact us at poke.n.hope.hk@gmail.com.
</div>

<!--
<div class="body">
    We have to mention in particular on the Player Ranking page a new measure which is commonly used in sport competitions. We encourage you to go <a href="https://en.wikipedia.org/wiki/Elo_rating_system"> here</a> for some documentation. But for those who hate numbers and formulas, we will explain why we have done so in simple words. Let's look at the following situations:
    <ul>
        <li>Imagine you play a good player and you are at the same level. Your opponent breaks and runs out the table. You get a 0:10. Then you break and run out as well. Both you and your opponent played excellent pool. But in the current total-points/average framework, you both would be penalized for getting 10 points in total in 2 frames. </li>
        <li>Now imagine you play a player much less skilled than you. You play bad and missed several shots but your opponent plays much better than her expected level. In the end, she still lost to you 7:10 and 7:10. In the current framework, you get 20 in two frames and it is perfect. You don't have to pay for your struggle.</li>
    </ul>
    But in the Ranking Points evaluation, it is different. In the first case, your ranking points will not be affected at all; in the second, your ranking points will decrease and also your opponent will be rewarded for pushing you to the edge.
</div>
//-->

{% endblock %}

