{% extends "base_site.html" %}

{% block title %} Poke n Hope {% endblock %}

{% load static %}
{% block content %}

<style>
    #container {height: 100%; width:100%; min-width: 0;}
    #left, #middle, #right {
        zoom: 1;
        float:left;
        margin-right:1%;
        margin-top:-10px;
        min-width: 0;
    }
    #left {width:21%}
    #middle {width:50%}
    #right {width:27%;margin-right:0}
    div.body {
        width:100%;
        font-weight: 400;
        font-size: 14px;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 20px;
        min-width: 0;
    }

    div.body p, h2 {
        padding-left:5%;
        padding-right:5%;
        word-wrap:break-word;
    }

    @media screen and (max-width: 700px) {
        #left {display:none}
        #middle {width:auto;margin-top:20px;margin-right:0;margin-bottom:20px;}
        #right {width:auto;float:none}
        div.body p {
            font-size:14px;
        }
    }
</style>
<div id="container">

<section id="left">
    <div class="body" style="overflow:auto; height:200px;">
        <p><span style="font-size:20px;font-weight:400;vertical-align: text-top;"><a href="{% url 'listlive' %}">Live</a></span></p>
        <hr>
        <p>No matches currently.</p>
    </div>

    <div class="body" style="overflow:auto; height:200px;margin-top:20px">
        <p><span style="font-size:20px;font-weight:400;vertical-align: text-top;">Calendar</span></p>
        <hr>
        <p>Season 4 will start on <u>5th, Sep 2017</u>.</p>
    </div>
</section>
<section id="middle">

        <div class="body" style="overflow:auto; height:600px">
        <br>
        <p>Welcome to Poke n Hope's official website!</p>
        <p>We have several sections now.</p>
        <p>In <a href="{% url 'listlive' %}">Live</a>, you will be able to see the real-time scores during matches on Tuesday's and Wednesday's.  </p>
        <p>In <a href="{% url 'schedule' %}">Schedule</a>, you can see the full schedule of matches, showing results from matches played and future fixtures.</p>
        <p>In <a href="{% url 'stats' %}">Stats</a>, you will see the normal weekly summary, Player and Team ranking.</p>
        <p>Last but not least, is the <a href="{% url 'recording1' %}">Archive</a> where you can review all matches recorded in the system.</p>
        <p>We would like to mention, in particular the Player Ranking page, a new measure which is commonly used in sporting competitions. We encourage you click <a href="https://en.wikipedia.org/wiki/Elo_rating_system">here</a> for further details. It encompasses a ranking system that takes into account your opponent's level when calculating your ranking points. You will not be over-penalised/over-rewarded if you play a strong/lesser skilled player.</p>
        <p>The ranking points will not affect the final prize for this season. It only informs you of your relative level compared to others. If you think you're underrated in this ranking, the most efficient way to improve your points is by having more run outs.</p>
        <p>We have dedicated a lot of time on launching this website. We would be happy to see how these statistics can benefit you and your team.</p>
        <p>We are continually adding more features to this website.  Any suggestions or bug reporting are more than welcome.</p>
        <p>Thank you for your support and we hope together we can take this sport to the next level and create a global pool community where everyone is welcome! You can contact us at poke.n.hope.hk@gmail.com.</p>
    </div>
</section>
<section id="right">
       <div class="body" style="overflow:auto; height:180">
        <p><span style="font-size:20px;font-weight:400;vertical-align: text-top;">Marketplace</span></p>
        <hr>
        <ul>
            <li> New Radial Vantage Shaft, mint condition, radial joint. Ask price: 2200HKD.</li>
            <li> New Meucci "The Pro" Shaft, radial joint. Ask price: 1800-1900HKD.</li>
        </ul>

        <p>Please contact Alex (9515 0202) if interested.</p>
        </div> 
    <div class="body" style="overflow:auto; height:385px;margin-top:20px">
        <p><span style="font-size:20px;font-weight:500;vertical-align: text-top">Season 3 Results:</span></p>
        <hr>
    <p>
    <b>Champions:</b> Anything is Fine (72)<br>
    <b>1st Runner Up:</b> Just the Tip (62)<br>
    <b>2nd Runner Up:</b> The Abangers (56)</p>

    <p>
<b>Top Male:</b><br>
Yuri (720)<br>
Andrew (667)<br>
Arthur and Elton (647)
</p>

<p>
<b>Top Female:</b><br>
Mancy (683)<br>
Lily (619)<br>
Annie (537)
</p>

<p>
<b>Top Average Male:</b><br>
Alvaro (9.0)<br>
Yuri (8.6)<br>
Mark Morillo (8.5)
</p>

<p>
    <b>Top Average Female:</b><br>
Mancy (8.1)<br>
Lily (7.4)<br>
Catherine (7.0)
</p>

<p>
<b>Top Clearance Male:</b><br>
Lito (9)<br>
Levis (8)<br>
Alvaro (7)
</p>

<p>
<b>Top Clearance Female:</b><br>
Annie and Lily (1)
</p>

<p>Congrats guys and dolls!!!</p>
<!--
    </div>
    <br>
    <span style="font-size:15px"> Best wishes for your new adventure and you will be missed.</span>
    <br>
    <span style="font-size:15px">Come back and visit us soon!</span> <span style="font-size:150%;color:red;">&hearts;</span><span>&#128521;<span> \(^O^)/ 
    <br>
    <img src="{% static "al.png" %}" width="60%"></img>--> 
    </div>


</section>

{% endblock %}

