{% extends "base_site.html" %}

{% block title %} Poke n Hope {% endblock %}

{% load static %}
{% block content %}

<style>
    #container {height: 100%; width:100%; font-size: 0;}
    #left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 13px;}
    #left {width:5%}
    #middle {width:50%}
    #right {width:30%}
    div.body {
        width:100%;
    }
</style>
<div id="container">

<div id="left">
    </div>
    <div id="middle">
<div class="body">
Welcome to Poke n Hope's official website!
</div>
<br>
<div class="body">
We have several sections now.
</div>
<br>
<div class="body">
In <a href="{% url 'listlive' %}">Live</a> you will be able to see the real-time scores during matches on Tuesday's and Wednesday's.  
</div>
<br>
<div class="body">
In <a href="{% url 'schedule' %}">Schedule</a> you can see the full schedule of matches, showing results from matches played and future fixtures.
</div>
<br>
<div class="body">
In <a href="{% url 'stats' %}">Stats</a>, you will see the normal weekly summary, Player and Team ranking.
</div>
<br>
<div class="body">
Last but not least, is the <a href="{% url 'recording1' %}">Archive</a> where you can review all matches recorded in the system.
</div>
<br>
<div class="body">
We would like to mention, in particular the Player Ranking page, a new measure which is commonly used in sporting competitions. We encourage you click <a href="https://en.wikipedia.org/wiki/Elo_rating_system">here</a> for further details. It encompasses a ranking system that takes into account your opponent's level when calculating your ranking points. You will not be over-penalised/over-rewarded if you play a strong/lesser skilled player.

</div>
<br>
<div class="body">
The ranking points will not affect the final prize for this season. It only informs you of your relative level compared to others. If you think you're underrated in this ranking, the most efficient way to improve your points is by having more run outs.

</div>
<br>
<div class="body">
We have dedicated a lot of time on launching this website. We would be happy to see how these statistics can benefit you and your team.

</div>
<br>
<div class="body">
We are continually adding more features to this website.  Any suggestions or bug reporting are more than welcome.

</div>
<br>
<div class="body">
Thank you for your support and we hope together we can take this sport to the next level and create a global pool community where everyone is welcome! You can contact us at poke.n.hope.hk@gmail.com.
</div>
</div>
<div id="right">
    <span style="font-weight:bold;font-size:20px"> NEWS FLASH:</span> 
    <br>
    <span style="font-size:15px">No more news.</span>
    <!--
    <br>
    <span style="font-size:15px"> Best wishes for your new adventure and you will be missed.</span>
    <br>
    <span style="font-size:15px">Come back and visit us soon!</span> <span style="font-size:150%;color:red;">&hearts;</span><span>&#128521;<span> \(^O^)/ 
    <br>
    <img src="{% static "al.png" %}" width="60%"></img>--> 
    </div>
</div>

{% endblock %}

