{% extends "base_site.html" %}

{% block title %} Initialize Match {% endblock %}

{% block extrahead %}
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    
    <script>

    function after_sorting_players() {
        // var nb_players = 8;
        var nb_playing_players = {{ nb_selected_players }};
        var home_players = $("#home_players li");
        //home_players.draggable();
        var away_players = $("#away_players li");
        //away_players.draggable();
        var update_class = function (index) {
            if (index < nb_playing_players) {
                return "playing";
            } else {
                return "resting";
            }
        };
        var home_handicap = 0;
        var away_handicap = 0;
        for (var i = 0; i < nb_playing_players; i++) {
            if (home_players[i]) {
                $("input[name=home" + i + "]").val(home_players[i].value);
                home_handicap += Math.max(parseFloat(home_players[i].getAttribute("handicap")), 0);
            }
            if (away_players[i]) {
                $("input[name=away" + i + "]").val(away_players[i].value);
                away_handicap += Math.max(parseFloat(away_players[i].getAttribute("handicap")), 0);
            }
        }

        //var info = "Home total handicap: ";#}
        //for (var i = 0; i < nb_playing_players; i++) {#}
        //    info += $("input[name=home" + i + "]")[0].value + " ";#}
        //}
        //info += " Away total handicap: ";#}
        //for (var i = 0; i < nb_playing_players; i++) {#}
        //    info += $("input[name=away" + i + "]")[0].value + " ";#}
        //}
        var info = "Indicative home handicap: " + home_handicap.toFixed(1) + "<br>" + "Indicative away handicap: " + away_handicap.toFixed(1);
        $("#info").html(info);

        home_players.removeClass("playing resting").addClass(update_class);
        away_players.removeClass("playing resting").addClass(update_class);
    }


    $(document).ready(function () {
        var player_lists = $(".players");
        player_lists.sortable({
{#            change: function( event, ui ) {after_sorting_players()},#}
            stop: function( event, ui ) {after_sorting_players()},
{#            update: function( event, ui ) {console.log("update")},#}
        });
        player_lists.disableSelection();
        after_sorting_players();
    })
    </script>

    <style>
    .players li.playing {background: #74ce86
    }
    .players li.resting {background: #de8e8a
    }
    .players { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    .players li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; width: 200px}
    </style>
{% endblock %}

{% block content %}

{% if user.is_active or match.is_initialized %}

<p> Drag to choose the players who play and rank them in desired orders. </p>
<table border="0">    
    <col width="400">
    <col width="400">
    <tr>
        <td align="center"><h2> {{ match.home }} </h2></td>
        <td align="center"><h2> {{ match.away }} </h2></td>
    </tr>
    <tr>
         <td align="center">
            <ul id="home_players" class="players">
            {% for p in home_players %}
                <li value="{{ p.id }}" handicap="{{ p.handicap }}">{{ p.player }}{% if p.handicap > 0 %} ({{ p.handicap|floatformat:1 }}){% endif %}</li>
            {% endfor %}
            </ul>
        </td>       
        <td align="center">
            <ul id="away_players" class="players">
            {% for p in away_players %}
                <li value="{{ p.id }}" handicap="{{ p.handicap }}">{{ p.player }}{% if p.handicap > 0 %} ({{ p.handicap|floatformat:1 }}){% endif %}</li>
            {% endfor %}
            </ul>
        </td>

    </tr>
</table>

<div style="height:10px"></div>
<p>
    <form action="{% url 'match_init_submit' 'LeagueMatch' match.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Initialize Match">
    {% for ind in inds %}
        <input type="hidden" name="home{{ ind }}" value="">
        <input type="hidden" name="away{{ ind }}" value="">
    {% endfor %}
    </form>
</p>
<p id="info"></p>
{% else %}
    <p>This match has not started or has not been updated. Please come back later.</p>
    <p>If you are authorized to input the scores of this match, please log in.</p>
{% endif %}
{% endblock %}

