{% extends "base_site.html" %}
{% load match_extras %}
{% load static %}
{% load staticfiles %}

{% block title %} Matches {% endblock %}
<link rel="stylesheet" type="text/css" href="{% static "changelists.css" %}" />

{% block content %}


<!-- TODO Add filters that allows to select all matches by player, date, team-->

 <table border="0">    
    <col width="50">
    <col width="100">
    <col width="600">
    <tr>
        <td align="center"><h3> ID </h3></td>
        <td align="center"><h3> Date </h3></td>
        <td align="left"><h3> Match </h3></td>
    </tr>
    {% for match in matches %}
    <tr>
        <td align="center"> {{ forloop.counter }} </td>
        <td align="center"> {{ match.match_date.date|date:"Y-m-d" }} </td>
        <td align="left"> 
            <a href="{% url 'match_view' type_ match.pk %}"> {{ match.home }} vs. {{ match.away }}</a> 
        </td>
    </tr>
    {% endfor %}
</table>


<div class="paginator">
        {% if matches.has_previous %}
            <a href="?page={{ matches.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ matches.number }} of {{ matches.paginator.num_pages }}.
        </span>

        {% if matches.has_next %}
            <a href="?page={{ matches.next_page_number }}">next</a>
        {% endif %}
</div>

<!--
<br>
<div class="page_prev"> 
    {% if page > 1 %}
    <a href="{% url 'listarchive_page' type_ page|add:"-1" %}">
        <img src="{% static "left_black.svg" %}" width="20"></img>   
    </a>
    {% endif %}
</div>
<div class="page"> 
    Page {{ page }}
</div>
<div class="page_next"> 
    {% if has_next %}
    <a href="{% url 'listarchive_page' type_ page|add:"1" %}">
        <img src="{% static "right_black.svg" %}" width="20"></img>   
    </a>
    {% endif %}
</div>
//-->
{% endblock %}

