{% extends "base_site.html" %}
{% load match_extras %}

{% block title %} Matches {% endblock %}

{% block content %}
# TODO Add filters that allows to select all matches by player, date, team

 <table border="0">    
    <col width="50">
    <col width="100">
    <col width="600">
    <tr>
        <td align="center"><h3> ID </h3></td>
        <td align="center"><h3> Date </h3></td>
        <td align="left"><h3> Match </h3></td>
    </tr>
    {% for match in matches %}
    <tr>
        <td align="center"> {{ forloop.counter }} </td>
        <td align="center"> {{ match.match_date.date|date:"Y-m-d" }} </td>
        <td align="left"> <a href="{% url 'match_view' type_ match.pk "True" %}"> {{ match.away }} vs. {{ match.home }}</a> </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

