{% extends "base_site.html" %}
{% load match_extras %}
{% load i18n static admin_list %}

{% block title %} Matches {% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
{% endblock %}
{% block content %}
<style>
    tr.alt {
        background: #f6f6f6;
    }

    tr:nth-child(even){background-color: #f9f9f9;}

    table {
        width:100%;
        border-collapse:collapse;
        table-layout:fixed;
    }

    .unsorted   {font-size:1em; color:dimgrey; vertical-align: middle; text-align: center; height:35px}
</style>

<!-- TODO Add filters that allows to select all matches by player, date, team-->

 <table border="0">    
    <thead>
    <tr>
        <th class="unsorted" style="width:50px"> ID </td>
        <th class="unsorted" style="width:100px"> Date </td>
        <th class="unsorted" style="text-align:left"> Match </td>
    </tr>
    </thead>
    {% for match in matches %}
    <tr>
        <td align="center"> {{ forloop.counter }} </td>
        <td align="center"> {{ match.match_date.date|date:"Y-m-d" }} </td>
        <td align="left"> 
            <a href="{% url 'match_view' type_ match.pk %}"> {{ match.home }} vs. {{ match.away }}</a> 
        </td>
    </tr>
    {% endfor %}
</table>


{% if matches.paginator.num_pages > 1 %}
{% block pagination %}
<p class="paginator">
    {% for i in matches.paginator.page_range %}
        {% if i == matches.number %}
            {% if i > 4 %}
                ...
            {% endif %}
            {% if i > 1 %}
                <a href="?page={{ matches.previous_page_number }}">{{ matches.previous_page_number }}</a>
            {% endif %}
                <span class="current" style="margin-left:4px;margin-right:4px"> {{ matches.number }} </span>
            {% if i < matches.paginator.num_pages %}
                <a href="?page={{ matches.next_page_number }}">{{ matches.next_page_number }}</a>
            {% endif %}
            {% if i|add:3 < matches.paginator.num_pages %}
                ...
            {% endif %}
        {% elif matches.number|add:2 > i and matches.number < i %}
        {% elif i|add:2 > matches.number and matches.number > i %}
        {% elif i == 1 or i == 2 or i|add:1 == matches.paginator.num_pages or i == matches.paginator.num_pages %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
    &nbsp;&nbsp;{{ matches.paginator.count }} results. 
</p>
{% endblock %}
{% endif %}
<!--
<br>
<div class="page_prev"> 
    {% if page > 1 %}
    <a href="{% url 'listarchive_page' type_ page|add:"-1" %}">
        <img src="{% static "left_black.svg" %}" width="20"></img>   
    </a>
    {% endif %}
</div>
<div class="page"> 
    Page {{ page }}
</div>
<div class="page_next"> 
    {% if has_next %}
    <a href="{% url 'listarchive_page' type_ page|add:"1" %}">
        <img src="{% static "right_black.svg" %}" width="20"></img>   
    </a>
    {% endif %}
</div>
//-->
{% endblock %}

