{% extends "base_site.html" %}

{% block title %} Ranking {% endblock %}

{% block extrahead %}
{% load staticfiles %}
<style>
    .header     {font-size:1.17em; color:grey; font-weight:normal}
    .sortable   {font-size:1em; vertical-align: middle; text-align: center}
    .asc        {font-size:1em; color:black; vertical-align: middle; text-align: center; height:35px}
    .desc       {font-size:1em; color:black; vertical-align: middle; text-align: center; height:35px}
    .unsorted   {font-size:1em; color:dimgrey; vertical-align: middle; text-align: center; height:35px}
    .female     {color:firebrick}

    tr.alt {
        background: #f6f6f6;
    }

    tr:nth-child(even){background-color: #f9f9f9;}


</style>

<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(".sortable").click(function(){
            if ($(this).hasClass('desc')) {
                var o = 'asc';
            } else if ($(this).hasClass('asc')) {
                var o = 'unsorted';
            } else {
                var o = 'desc';
            }
            $('.sortable').removeClass('asc').removeClass('desc').removeClass('unsorted');
            $(this).addClass(o);

            var colIndex = $(this).prevAll().length;
            var tbod = $(this).closest("table").find("tbody");
            
            if (o=='unsorted') {
                rows = _rows_cached;
            } else {
                var rows = tbod.find("tr");

                // We use Rank to rank for Ranking points.
                // This is because Ranking points may have duplicated number
                rows.sort(function(a,b){
                    var A = $(a).find("td").eq(colIndex).text();
                    var B = $(b).find("td").eq(colIndex).text();

                    if (!isNaN(A)) {
                        A = Number(A);
                    } else {
                        return o == 1;
                    }
                    if (!isNaN(B)) {
                        B = Number(B);
                    } else {
                        return o == -1;
                    }

                    if (A != B) {
                        var r = (o == 'asc' ? A > B : B > A);
                    } else {
                        var A_ = Number($(a).find("td").eq(0).text());
                        var B_ = Number($(b).find("td").eq(0).text());
                        var r = (o == 'asc' ? A_ < B_ : B_ < A_);
                    }

                    return r ? 1 : -1;
                });
            }
            
            $.each(rows, function(index, ele){
                tbod.append(ele);
            });
        });
        
        var _rows_cached = $('#prtable').find("tbody").find("tr");
        //console.log(_rows_cached);
    });  
</script>


{% endblock %}

{% block content %}

<div style="width:100%;margin:0 auto;display: block;min-width: 0;margin-top:-10px;">
 <table border="0" id='prtable' style="display:block;overflow-x:auto;">    
    <thead>
        <tr>
            <th class="unsorted" width="5%"> Rank </th>
            <th class="unsorted" width="10%" style="min-width:100px"> Name </th>
            <th class="unsorted" width="15%" style="min-width:150px"> Team </th>
            <th class="unsorted" width="5%"> Gender </th>
            <th class="sortable desc" width="11%"> Elo Points </th>
            <th class="sortable unsorted" width="10%"> Total Points </th>
            <th class="sortable unsorted" width="10%"> Average </th>
            <th class="sortable unsorted" width="10%"> Match Played </th>
            <th class="sortable unsorted" width="10%"> Match Won </th>
            <th class="sortable unsorted" width="9%"> Clearance </th>
        </tr>
    </thead>
    <tbody>
    {% for m in ranking %}
    <tr>
        <td align="center"> {% if m.ranking > 0 %} {{ m.ranking }} {% else %} - {% endif %} </td>
        <td align="center"> {{ m.player }} </td>
        <td align="center"> {{ m.group }} </td>
        <td align="center"> {% if m.player.sex == "F" %} <span class="female"> {{ m.player.sex }} </span> {% else %} {{ m.player.sex }} {% endif %}</td>
        <td align="center"> {% if m.ranking > 0 %} {{ m.points|floatformat:0 }} {% else %} - {% endif %} </td>
        <td align="center"> {{ m.season_points|floatformat:"0" }} </td>
        <td align="center"> {% if m.ranking > 0 %} {{ m.handicap|floatformat:2 }} {% else %} - {% endif %} </td>
        <td align="center"> {{ m.season_matches_played }} </td>
        <td align="center"> {{ m.season_matches_won }} </td>
        <td align="center"> {{ m.season_clearances }} </td>
            <!--<a href=" url 'leg_view' leg.pk %}"> -->
    </tr>
    {% endfor %}
    </tbody>
</table>

<br>
<p>
    Last Update: {{ last_update }} <br>
    * The ranking points are calculated based on the <a href="https://en.wikipedia.org/wiki/Elo_rating_system"> Elo Rating System</a>.
</p>
</div>
{% endblock %}

