{% extends "base_site.html" %}

{% block title %} Ranking {% endblock %}

{% block content %}
# TODO Add filters that allows to select all matches by player, date, team

 <table border="0">    
    <col width="50">
    <col width="100">
    <col width="300">
    <col width="200">
    <col width="200">
    <col width="200">
    <col width="200">
    <tr>
        <td align="center"><h3> Rank </h3></td>
        <td align="center"><h3> Name </h3></td>
        <td align="center"><h3> Team </h3></td>
        <td align="center"><h3> Ranking Points </h3></td>
        <td align="center"><h3> Total Match Playered </h3></td>
        <td align="center"><h3> Total Match Won </h3></td>
        <td align="center"><h3> Total Clearance </h3></td>
    </tr>
    {% for m in ranking %}
    <tr>
        <td align="center"> {{ m.ranking }} </td>
        <td align="center"> {{ m.player }} </td>
        <td align="center"> {{ m.group }} </td>
        <td align="center"> {{ m.points|floatformat:"0" }} </td>
        <td align="center"> {{ m.season_matches_played }} </td>
        <td align="center"> {{ m.season_matches_won }} </td>
        <td align="center"> {{ m.season_clearance }} </td>
            <!--<a href=" url 'leg_view' leg.pk %}"> -->
    </tr>
    {% endfor %}
</table>
{% endblock %}

