{% extends "base_site.html" %}

{% block title %} Schedule {% endblock %}

{% load static from staticfiles %}
{% block content %}
<style>
    #main-left {margin-top:-10px;padding-top:10px;width:72%; margin-left:0; margin-right:1%; background-color:white}
    .header     {font-size:1.5em; color:dimgrey; font-weight:normal}
    .header2    {font-size:1.17em; color:dimgrey; font-weight:normal}
    .frame_win   {font-weight:bold; color:dodgerblue}
    .draw {background-color: deepskyblue; margin: 5pt}
    .away_win {background-color: red; margin: 5pt}
    td {vertical-align: middle}
    #add_new_frame {padding: 4pt}
    tab {padding-left: 3em}
    div.week_left {
        width:20%;
        margin:0px;
        text-align: right;
        vertical-align: middle;
        display:inline-block;
    }       
    div.week {
        width:50%;
        margin:0px;
        text-align: center;
        vertical-align: middle;
        display:inline-block;
    }
    div.week_right {
        width:20%;
        margin:0px;
        text-align: left;
        vertical-align: middle;
        display:inline-block;
    }

    @media screen and (max-width: 700px) {
        #main-left {width:100%;margin-right:0;}
        div.week_left, div.week_right {width:10%}
        div.week {width:78%}
    }
    </style>

    <div id="main-left">
<div class="week_left"> 
    {% if has_prev %}
    <a href="{% url 'listweek' week.week_number|add:"-1" %}">
        <img src="{% static "left_arrow.png" %}" width="20"></img>   
    </a>
    {% endif %}
</div>
<div class="week"> 
    {{ week }}
</div>
<div class="week_right"> 
    {% if has_next %}
    <a href="{% url 'listweek' week.week_number|add:"1" %}">
        <img src="{% static "right_arrow.png" %}" width="20"></img>
    </a>
    {% endif %}
</div>

{% for k, v in matches.items %}
{% if v %}
<p>
    <h2>{{ v.0.match_date|date:"l N d, Y" }}</h2>

    <table border="0">    
        <col width="50">
        <col width="400">
        <col width="100">
        <col width="300">
        <tr>
            <td align="center"><h3> # </h3></td>
            <td align="center"><h3> Match </h3></td>
            <td align="center"><h3> Time </h3></td>
            <td align="center"><h3> Venue </h3></td>
        </tr>
        {% for match in v %} 
        <tr>
            <td align="center"> {{ forloop.counter }} </td>
            <td align="left"> 
                {% if match.match_date < eow %}
                    <a href="{% url 'match_view' "LeagueMatch" match.pk %}">
                        {{ match.home }} vs. {{ match.away }} 
                    </a>
                {% else %}
                        {{ match.home }} vs. {{ match.away }} 
                {% endif %}

            </td>
            <td align="center"> {{ match.match_date|date:"H:i" }} </td>
            <td align="center"> {{ match.venue }} </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
</p>
{% endfor %}
</div>
{% endblock %}

